@model TMS.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 page-header">
    <h1>Register User</h1>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                       
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                @Html.LabelFor(model => model.UserName)
                            </div>
                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.UserName)
                                <div class="alert-danger">
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                            </div>

                        </div>
                        <div class="row col-sm-12">&nbsp;</div>
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                @Html.LabelFor(model => model.Password)
                            </div>

                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.Password)
                                <div class="alert-danger">
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </div>
                        </div>
                        <div class="row col-sm-12">&nbsp;</div>
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                @Html.LabelFor(model => model.ConfirmPassword)
                            </div>

                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.ConfirmPassword)
                                <div class="alert-danger">
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                        <div class="row col-sm-12">&nbsp;</div>
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                @Html.LabelFor(model => model.Email)
                            </div>

                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.Email)
                                <div class="alert-danger">
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                        </div>

                        <div class="row col-sm-12">&nbsp;</div>
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                @Html.LabelFor(model => model.Address)
                            </div>

                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.Address)
                                <div class="alert-danger">
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>
                        </div>
                        <div class="row col-sm-12">&nbsp;</div>
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                @Html.LabelFor(model => model.Phone)
                            </div>

                            <div class="col-sm-7">
                                @Html.EditorFor(model => model.Phone)
                                <div class="alert-danger">
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                            </div>
                        </div>
                        <div class="row col-sm-12">&nbsp;</div>
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                @Html.LabelFor(model => model.State)
                            </div>

                            <div class="col-sm-7">
                                @Html.DropDownListFor(model => model.State, Model.State)
                                <div class="alert-danger">
                                    @Html.ValidationMessageFor(model => model.State)
                                </div>
                            </div>
                        </div>
                        <div class="row col-sm-12">&nbsp;</div>
                       

                        <p>
                            <input class="btn btn-lg btn-primary" type="submit" value="Create" />
                        </p>
                       
                    }

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
